@import url("https://fonts.googleapis.com/css2?family=Changa:wght@700&display=swap");

.bannerTexto{
    font-family: "Changa", sans-serif;
    font-size: 45px;
}

@media screen and (max-width: 542px) {
    .bannerTexto {
        font-size: 25px;
    }
}