@import url("https://fonts.googleapis.com/css2?family=Changa:wght@700&display=swap");

.logoRB {
  font-family: "Changa", sans-serif;
  font-size: 30px;
}

.imgCarrusel {
  height: 560px;
  object-fit: cover;
}
.cardPrincipal{
    width: 300px;
}
.cajasBox{
    height: 150px;
}